
    $color-primary: #d1b2ff;
    $color-sub: #fff;
    $color-point: #5ad8ab;
    $color-point-light: #c6fde9;
    $color-background: #e3e3e3;
    $line-height: 1.4;
    $spacing-xl: 80px;
    $spacing-l: 64px;
    $spacing-m: 32px;
    $spacing-s: 16px;
    $spacing-xs: 8px;
    $box-shadow: 0 4px 4px 8px rgba(0,0,0,.2);
    $svg-normal: 36px;
    $txt-l: 24px;
    $txt-m: 16px;
    $txt-s: 12px;
